<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
            <form id="frm" th:action="@{/articles/update}" class="container" method="post" th:object="${dto}">
                <div class="mb3">
                    <label class="form-label">제목</label>
                    <input id="title" type="text" class="form-control" th:field="*{title}">
                </div>
                <div class="mb3">
                    <label class="form-label">내용</label>
                    <textarea id="content" class="form-control" row="3" th:field="*{content}"></textarea>
                </div>
                <input type="hidden" th:field="*{id}">
                <input type="button" value="수정" class="btn btn-primary" onclick="check()">
                <a th:href="@{/articles/delete/{id}(id=*{id})}" class="btn btn-primary">삭제</a>
<!--                <button type="button" class="btn btn-primary">삭제</button>-->
                <a href="/">Back</a>
            </form>

</div>
</body>
</html>